# Adjust this base on your database connection configuration
# For Development with local database Use `127.0.0.1` instead of `localhost` for `DB_HOST`.
# For Running On Docker just use container name eg. `db` for `DB_HOST`. Or it's host. 
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=